.alert-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.alert-card h5 {
  margin-top: 0;
  color: black;
}
